  <h1>Connected</h1>
{{# each articles }}
        <div class="art">
            <div class="titlke">
                <a href={{this.link}}><h3>{{this.title }}</h3></a>
                <input type="text">
                <button id="postComment">Post comment</button>
            </div>
        </div>
{{/each}}
